{
  "presets": [
    [
      "es2015",
      {
        "modules": false,
        "loose": true
      }
    ],
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-es2015-modules-strip",
    "transform-object-rest-spread"
  ]
}